<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>雪中控制台</title>
  <link rel=stylesheet href=http://at.alicdn.com/t/font_1956946_f4tm603puxq.css>
  <link href=public/css/chunk-033d88bd.acb7fd1e.css rel=prefetch>
  <link href=public/css/chunk-1b7d1531.7364e375.css rel=prefetch>
  <link href=public/css/chunk-1d56bdce.0bfdbe27.css rel=prefetch>
  <link href=public/css/chunk-2f84ff6b.f0164292.css rel=prefetch>
  <link href=public/css/chunk-42b54840.34bc152d.css rel=prefetch>
  <link href=public/css/chunk-4671f6ee.12a02a66.css rel=prefetch>
  <link href=public/css/chunk-4c76b680.118532e8.css rel=prefetch>
  <link href=public/css/chunk-63adb7aa.76874681.css rel=prefetch>
  <link href=public/css/chunk-7d5698bc.acb7fd1e.css rel=prefetch>
  <link href=public/css/chunk-8e51ae14.74c5eba1.css rel=prefetch>
  <link href=public/css/chunk-a1e52a42.cf35aea7.css rel=prefetch>
  <link href=public/css/chunk-b696dea4.31f22d08.css rel=prefetch>
  <link href=public/css/chunk-cf38dba6.dbaa90c1.css rel=prefetch>
  <link href=public/css/chunk-ea80a724.bb295f57.css rel=prefetch>
  <link href=public/js/chunk-033d88bd.dbca038d.js rel=prefetch>
  <link href=public/js/chunk-1b7d1531.e7655d70.js rel=prefetch>
  <link href=public/js/chunk-1d56bdce.1dc2fdb4.js rel=prefetch>
  <link href=public/js/chunk-2f84ff6b.1aafc120.js rel=prefetch>
  <link href=public/js/chunk-42b54840.05762c30.js rel=prefetch>
  <link href=public/js/chunk-4671f6ee.d4388792.js rel=prefetch>
  <link href=public/js/chunk-4c76b680.145135b7.js rel=prefetch>
  <link href=public/js/chunk-55623efc.1abef29e.js rel=prefetch>
  <link href=public/js/chunk-63adb7aa.5e9622ad.js rel=prefetch>
  <link href=public/js/chunk-7d5698bc.fe0651d4.js rel=prefetch>
  <link href=public/js/chunk-8e51ae14.5b5b84a3.js rel=prefetch>
  <link href=public/js/chunk-a1e52a42.ff0551ca.js rel=prefetch>
  <link href=public/js/chunk-b696dea4.db3b5c7d.js rel=prefetch>
  <link href=public/js/chunk-cf38dba6.a21216b9.js rel=prefetch>
  <link href=public/js/chunk-ea80a724.0256d7d2.js rel=prefetch>
  <link href=public/css/app.d0cdcfa5.css rel=preload as=style>
  <link href=public/css/chunk-vendors.47f417d3.css rel=preload as=style>
  <link href=public/js/app.6ef81c7b.js rel=preload as=script>
  <link href=public/js/chunk-vendors.b354c6d8.js rel=preload as=script>
  <link href=public/css/chunk-vendors.47f417d3.css rel=stylesheet>
  <link href=public/css/app.d0cdcfa5.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script src=public/js/chunk-vendors.b354c6d8.js></script>
  <script src=public/js/app.6ef81c7b.js></script>
</body>

</html>