{% extends "../public/layout.html" %} {% block main %}
<main class="main_list">
  <div class="banner_list">
    <img src="./images/1499138259666.jpg" alt="" />
  </div>
  <section class="role_single">
    <article class="show_single">
      <h1 class="page_title">西安水务集团举行2019消防反恐防恐综合应急演练</h1>
      <p class="page_info">
        <span>发布人:lucifer-dj</span><span>点击此时:23</span>
        <div class="clear"></div>
      </p>
      <p class="page_line"></p>
      <p>
        为进一步提高水务集团消防“四个能力”建设和反恐防恐应急处置能力，西安水务集团于2019年7月26日上午9:30举行了“2019消防反恐防恐综合应急演练”。集团公司分管安全工作领导、集团办公室、安全保卫部、生产管理部、工程建设部、技术信息部及下属单位相关负责人出席观摩了本次演练。
      </p>
    </article>
  </section>
</main>
{% endblock %}