* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font: 12px Arial, "微软雅黑";
  color: #999;
  background-color: #fff;
  position: relative;
  width: 100%;
}
a {
  text-decoration: none;
  color: #999;
}
.clear {
  clear: both;
}
header {
  width: 100%;
  height: 82px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
header > nav {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
}
header > nav > a {
  display: block;
  float: left;
  height: 100%;
  display: grid;
  place-items: center;
}
header > nav > ul {
  float: left;
  height: 82px;
  margin-left: 20px;
}
header > nav > ul > li {
  height: 82px;
  float: left;
  text-align: center;
  line-height: 82px;
  box-sizing: border-box;
}
header > nav > ul > li > a {
  color: #666666;
  font-size: 16px;
  padding: 0 26px;
}
header > nav > ul > li:hover {
  border-bottom: 2px solid #233876;
  color: #233876 !important;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}
.header_li_active {
  border-bottom: 2px solid #233876;
  color: #233876 !important;
}
.head {
  width: 100%;
  height: 112px;
  display: grid;
  place-items: center;
}
.head > .content {
  width: 100%;
  height: 32px;
}
.head > .content > .left {
  float: left;
  height: 100%;
}
.head > .content > .left > a {
  display: block;
  height: 100%;
  float: left;
  padding: 0 15px;
  margin-left: 10px;
  text-align: center;
  line-height: 32px;
}
.head > .content > .left > a:hover {
  background-color: #233876;
  color: #fff;
}
.head > .content > .right {
  height: 32px;
  line-height: 32px;
  float: right;
}
.head > .content > .right > a:hover {
  color: #233876;
}
.head > .content > .right > span {
  padding: 0 10px;
}
.main {
  width: 100%;
}
.main > .banner {
  position: fixed;
  top: 82px;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
}
.main > .banner > img {
  width: 100%;
  height: 100%;
}
.main > section {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 5;
}
.main > section > article {
  width: 1200px;
  margin: 0 auto;
  min-height: 600px;
}
.main > .project {
  margin-top: 382px;
  padding-bottom: 30px;
}
.main > .project > article > .pro {
  width: 100%;
}
.main > .project > article > .pro > ul {
  width: 100%;
  top: 0;
  left: 0;
}
.main > .project > article > .pro > ul > li {
  float: left;
  width: 385px;
  height: 350px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.main > .project > article > .pro > ul > li > a {
  width: 380px;
  height: 350px;
  display: block;
  position: relative;
  transition: box-shadow 0.3s;
}
.main > .project > article > .pro > ul > li > a > .img {
  width: 380px;
  height: 260px;
  overflow: hidden;
}
.main > .project > article > .pro > ul > li > a > .img > img {
  width: 100%;
  height: 100%;
}
.main > .project > article > .pro > ul > li > a > .detail {
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding: 20px 10px;
  transition: transform 0.3s;
}
.main > .project > article > .pro > ul > li > a > .detail > h2 {
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main > .project > article > .pro > ul > li > a > .detail > .text {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main > .project > article > .pro > ul > li > a > .circle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s;
}
.main > .project > article > .pro > ul > li > a > .circle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main > .project > article > .pro > ul > li > a > .circle::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main > .project > article > .pro > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 2px;
  background-color: #233876;
  transform-origin: center center;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.main > .project > article > .pro > ul > li > a:hover {
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.1);
}
.main > .project > article > .pro > ul > li > a:hover > .detail {
  transform: translateX(10px);
}
.main > .project > article > .pro > ul > li > a:hover::after {
  transform: scaleX(1);
}
.main > .project > article > .pro > ul > li > a:hover > .circle {
  top: 30%;
  opacity: 1;
}
.main > .scope {
  margin-top: 382px;
  padding-bottom: 30px;
}
.main > .scope > article > .sco {
  width: 100%;
}
.main > .scope > article > .sco > ul {
  width: 100%;
  height: 100%;
}
.main > .scope > article > .sco > ul > li {
  float: left;
  width: 385px;
  height: 100%;
  margin-right: 15px;
  margin-bottom: 20px;
}
.main > .scope > article > .sco > ul > li > a {
  width: 380px;
  height: 100%;
  display: block;
  position: relative;
  transition: box-shadow 0.3s;
}
.main > .scope > article > .sco > ul > li > a > .img {
  width: 380px;
  height: 160px;
  overflow: hidden;
}
.main > .scope > article > .sco > ul > li > a > .img > img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.main > .scope > article > .sco > ul > li > a > .detail {
  width: 100%;
  box-sizing: border-box;
  padding: 26px 23px;
  transition: transform 0.3s;
  text-align: center;
}
.main > .scope > article > .sco > ul > li > a > .detail > h2 {
  height: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
}
.main > .scope > article > .sco > ul > li > a > .detail > h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.main > .scope > article > .sco > ul > li > a > .detail > .text {
  padding-top: 15px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.main > .scope > article > .sco > ul > li > a > .detail > .more {
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 1px solid #233876;
  margin-top: 20px;
  transform: translateX(-10px);
  opacity: 0;
  transition: all 0.3s;
}
.main > .scope > article > .sco > ul > li > a:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.main > .scope > article > .sco > ul > li > a:hover > .img > img {
  transform: scale(1.1, 1.1);
}
.main > .scope > article > .sco > ul > li > a:hover > .detail {
  transform: translateY(-10px);
}
.main > .scope > article > .sco > ul > li > a:hover > .detail > .more {
  transform: translateX(0);
  opacity: 1;
}
.main > .scope > article > .srrot {
  width: 100%;
  padding: 30px 0 60px;
}
.main > .scope > article > .srrot > a {
  padding: 0 10px;
}
.main > .scope > article > .srrot > a:hover {
  color: #233876;
}
.main > .news {
  margin-top: 382px;
  padding-bottom: 30px;
}
.main > .news > article > .news_content {
  width: 100%;
}
.main > .news > article > .news_content > li {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.main > .news > article > .news_content > li > a {
  width: 100%;
  height: 140px;
  display: block;
}
.main > .news > article > .news_content > li > a > .img {
  width: 340px;
  height: 140px;
  float: left;
  margin-right: 40px;
  transition: transform 0.3s;
}
.main > .news > article > .news_content > li > a > .img > img {
  width: 100%;
  height: 100%;
}
.main > .news > article > .news_content > li > a > .detail {
  width: 600px;
  height: 140px;
  float: left;
  transition: transform 0.3s;
}
.main > .news > article > .news_content > li > a > .detail > .title {
  padding: 23px 0;
  color: #303030;
  font-size: 16px;
}
.main > .news > article > .news_content > li > a > .detail > .text {
  line-height: 26px;
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #888;
}
.main > .news > article > .news_content > li > a > .date {
  width: 100px;
  height: 140px;
  float: right;
  padding-top: 23px;
  box-sizing: border-box;
}
.main > .news > article > .news_content > li > a > .date > .day {
  display: block;
  font-size: 22px;
  font-weight: 100;
}
.main > .news > article > .news_content > li > a > .date > .arrow {
  display: block;
  margin-top: 40px;
  width: 50px;
  height: 30px;
  border: 1px solid #233876;
  transition: transform 0.3s;
}
.main > .news > article > .news_content > li:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.main > .news > article > .news_content > li:hover > a > .img {
  transform: translateX(20px);
}
.main > .news > article > .news_content > li:hover > a > .detail {
  transform: translateX(20px);
}
.main > .news > article > .news_content > li:hover > a > .detail > .title {
  color: #233876;
}
.main > .news > article > .news_content > li:hover > a > .date > .arrow {
  transform: translateX(20px);
}
.main > .news > article > .srrot {
  width: 100%;
  padding: 30px 0 60px;
}
.main > .news > article > .srrot > a {
  padding: 0 10px;
}
.main > .news > article > .srrot > a:hover {
  color: #233876;
}
.main > .about {
  padding-top: 80px;
}
.main > .about > article {
  padding-right: 30px;
}
.main > .about > article > .about_head {
  padding: 60px 0;
}
.main > .about > article > .about_head > h2 {
  color: #233876;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.main > .about > article > .about_head > .en {
  font-size: 14px;
  color: #aaa;
  text-align: center;
}
.main > .about > article > .about1 {
  height: 395px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #d3d3d3;
}
.main > .about > article > .about1 > .left {
  width: 450px;
  float: left;
  height: 100%;
}
.main > .about > article > .about1 > .left > img {
  width: 100%;
  height: 100%;
}
.main > .about > article > .about1 > .right {
  width: 600px;
  float: right;
  height: 100%;
}
.main > .about > article > .about1 > .right > p {
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 30px;
}
.main > .about > article > .about1 > .right > p > .title {
  display: block;
  padding-bottom: 20px;
  font-size: 16px;
}
.main > .about > article > .about1 > .right > .p1,
.main > .about > article > .about1 > .right > .p2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main > .about > article > .about1 > .right > .p2,
.main > .about > article > .about1 > .right > .p3 {
  padding-top: 35px;
}
.main > .about > article > .about2 {
  padding: 24px 0;
  margin-bottom: 50px;
}
.main > .about > article > .about2 > .title {
  padding: 20px 0;
  font-size: 20px;
  color: #333;
}
.main > .about > article > .about2 > .text {
  font-size: 13px;
  padding: 20px 0 30px;
}
.main > .about > article > .about2 > ul {
  width: 1200px;
  height: 358px;
}
.main > .about > article > .about2 > ul > li > a {
  width: 400px;
  height: 358px;
  display: block;
  float: left;
}
.main > .about > article > .about2 > ul > li > a > img {
  width: 380px;
  padding-right: 20px;
  height: 233px;
}
.main > .about > article > .about2 > ul > li > a > p {
  padding: 20px 20px 20px 0;
  line-height: 24px;
  font-size: 13px;
}
.main > .video {
  padding-top: 80px;
}
.main > .video > article {
  margin-bottom: 50px;
}
.main > .video > article > .vid {
  width: 100%;
}
.main > .video > article > .vid > ul > li {
  float: left;
  width: 385px;
  height: 350px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.main > .video > article > .vid > ul > li > a {
  width: 380px;
  height: 350px;
  display: block;
  position: relative;
  transition: box-shadow 0.3s;
}
.main > .video > article > .vid > ul > li > a > .img {
  width: 380px;
  height: 260px;
  overflow: hidden;
}
.main > .video > article > .vid > ul > li > a > .img > img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.main > .video > article > .vid > ul > li > a > .detail {
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding: 20px 10px;
  transition: transform 0.3s;
  transition: all 0.3s;
}
.main > .video > article > .vid > ul > li > a > .detail > h2 {
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main > .video > article > .vid > ul > li > a > .detail > .text {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #aaa;
}
.main > .video > article > .vid > ul > li > a > .circle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s;
}
.main > .video > article > .vid > ul > li > a > .circle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main > .video > article > .vid > ul > li > a > .circle::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main > .video > article > .vid > ul > li > a:hover > .img > img {
  transform: scale(1.1, 1.1);
}
.main > .video > article > .vid > ul > li > a:hover > .detail {
  background-color: #233876;
  padding-left: 30px;
}
.main > .video > article > .vid > ul > li > a:hover > .detail > .text {
  color: #A7AFC8;
}
.main > .video > article > .vid > ul > li > a:hover > .detail > h2 {
  color: #fff;
}
.main > .video > article > .vid > ul > li > a:hover > .circle {
  top: 30%;
  opacity: 1;
}
.main > .contact {
  margin-top: 382px;
  padding-bottom: 30px;
}
.main > .contact > article {
  min-height: 480px;
}
.main > .contact > article > .contact_head {
  padding: 60px 0 80px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main > .contact > article > .contact_head > h1 {
  text-align: center;
  color: #233876;
  font-size: 22px;
  font-weight: normal;
}
.main > .contact > article > .contact_head > span {
  font-size: 14px;
}
.main > .contact > article > .contact_body {
  padding-top: 30px;
}
.main > .contact > article > .contact_body > .item {
  width: 390px;
  min-height: 250px;
  float: left;
}
.main > .contact > article > .contact_body > .item > .title {
  color: #7f7f7f;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.main > .contact > article > .contact_body > .item > .en {
  font-size: 12px;
  color: #8f8f8f;
  line-height: 40px;
  margin-bottom: 20px;
}
.main > .contact > article > .contact_body > .item > .column {
  font-size: 13px;
  line-height: 24px;
  color: #999;
}
footer {
  width: 100%;
  height: 44px;
}
footer > div {
  width: 1200px;
  margin: 0 auto;
  height: 44px;
  line-height: 44px;
}
footer > div > span {
  padding-left: 50px;
}
.head_active {
  background-color: #233876 !important;
  color: #fff !important;
}
.srrot {
  width: 100%;
  padding: 30px 0 60px;
  font-size: 13px;
}
.srrot > a {
  padding: 0 10px;
}
.srrot > a:hover {
  color: #233876;
}
.srrot_active {
  color: #233876;
}
