{% extends "../public/layout.html" %} {% block main %}
<main class="main_list">
  {% include "../public/center.html"%}
  <section class="contact">
    <article>
      <div class="contact_head">
        <h1>联系</h1>
        <span>Contact</span>
      </div>
      <div class="contact_body">
        <div class="item">
          <p class="title">网站建设文化传播有限公司</p>
          <p class="en">Beijing WEBSITE Culture Communication Co. Ltd.</p>
          <p class="column">总部地址：北京市朝阳区世贸商务楼2688室</p>
          <p class="column">总部电话：+86 10 69887650</p>
          <p class="column">电子邮箱：website@webs.com</p>
          <p class="column">邮政编码：100024</p>
          <p class="column">https://www.baidu.com/</p>
        </div>
        <div class="item">
          <p class="title">网站建设文化传播有限公司</p>
          <p class="en">Beijing WEBSITE Culture Communication Co. Ltd.</p>
          <p class="column">总部地址：北京市朝阳区世贸商务楼2688室</p>
          <p class="column">总部电话：+86 10 69887650</p>
          <p class="column">电子邮箱：website@webs.com</p>
          <p class="column">邮政编码：100024</p>
          <p class="column">https://www.baidu.com/</p>
        </div>
        <div class="item">
          <p class="title">网站建设文化传播有限公司</p>
          <p class="en">Beijing WEBSITE Culture Communication Co. Ltd.</p>
          <p class="column">总部地址：北京市朝阳区世贸商务楼2688室</p>
          <p class="column">总部电话：+86 10 69887650</p>
          <p class="column">电子邮箱：website@webs.com</p>
          <p class="column">邮政编码：100024</p>
          <p class="column">https://www.baidu.com/</p>
        </div>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</main>
{% endblock %}