{% extends "../public/layout.html" %} {% block main %}
<main class="main_list">
	{% include "../public/center.html"%}
	<section class="about">
		<article>
			<div class="about_head">
				<h2>关于雪中</h2>
				<div class="en">ABOUT XUEZHONG</div>
			</div>
			<div class="about1">
				<div class="left">
					<img
						src="{{static}}/images/50979.png"
						alt=""
					/>
				</div>
				<div class="right">
					<p class="p1">
						《雪中悍刀行》是连载于纵横中文网的一部玄侠类小说，并于2013年由江苏文艺出版社出版成实体书，作者是烽火戏诸侯。
						该小说讲述一个关于庙堂权争与刀剑交错的时代，一个暗潮涌动粉墨登场的江湖。荣获首届网络文学双年奖之银奖作品。
						2017年7月12日，《2017猫片
						胡润原创文学IP价值榜》发布，《雪中悍刀行》排名第17位
					</p>
					<p class="p2">
						<span class="title">收官版</span>
						江湖是一张珠帘。大人物小人物，是珠子，大故事小故事，是串线。情义二字，则是那些珠子的精气神。
					</p>
					<p class="p3">
						有个白狐脸儿，佩双刀绣冬春雷，要做那天下第一；
						湖底有白发老魁爱吃荤； 缺门牙老仆背剑匣；
						山上有个骑青牛的年轻师叔祖，不敢下山；
						有个骑大猫扛向日葵不太冷的少女杀手；
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="about2">
				<p class="title">不一样的雪中风景</p>
				<p class="text">
					江湖是一张珠帘。大人物小人物，是珠子，大故事小故事，是串线。情义二字，则是那些珠子的精气神。
				</p>
				<ul>
					<li>
						<a href="">
							<img src="{{static}}/images/80308812704922.jpg" alt="" />
							<p class="text">
								工业化的发展将今天的挑战转变为明天的成就。将水行业能源中和的技术已经成熟，丹麦有望在几年内实现这一目标
							</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{{static}}/images/449881529257757.jpg" alt="" />
							<p class="text">
								工业化的发展将今天的挑战转变为明天的成就。将水行业能源中和的技术已经成熟，丹麦有望在几年内实现这一目标
							</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{{static}}/images/633781500903000.png" alt="" />
							<p class="text">
								工业化的发展将今天的挑战转变为明天的成就。将水行业能源中和的技术已经成熟，丹麦有望在几年内实现这一目标
							</p>
						</a>
					</li>
				</ul>
			</div>
		</article>
	</section>
</main>
{% endblock %}
