{% extends "../public/layout.html" %} {% block main %}
<main class="main_list">
  {% include "../public/center.html"%}
  <section class="project">
    <article>
      <div class="head_list">
        <div class="content">
          <div class="left">
            <a href="" class="head_active">全部</a>
            <a href="">陆地神仙</a>
            <a href="">九品下</a>
          </div>
          <div class="right">
            您的位置：<a href="">首页</a> <span>></span> <a href="">{{columns.realm.name}}</a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="pro">
        <ul>
          {% for item in realms %}
          <li>
            <a href="">
              <div class="img">
                <img src="{{static}}/images/548464846.png" alt="" />
              </div>
              <div class="detail">
                <h2>{{item.name}}</h2>
                <div class="text">{{item.introduce}}</div>
              </div>
              <div class="circle"></div>
            </a>
          </li>
          {% endfor %}
          <div class="clear"></div>
        </ul>
      </div>
      <div class="srrot">
        <a href="" class="left">
          <</a> <a href="" class="num">1
        </a>
        <a href="" class="num">2</a>
        <a href="" class="right">></a>
      </div>
    </article>
  </section>
</main>
{% endblock %}