{% extends "../public/layout.html" %} {% block main %}
<main class="main_list">
  {% include "../public/center.html"%}
  <section class="role">
    <article>
      <div class="head_list">
        <div class="content">
          <div class="right">
            您的位置：<a href="">首页</a> <span>></span>
            <a href="">{{columns.role.name}}</a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <ul class="role_ul">
        {% for item in roles %}
        <li>
          <a href="">
            <div class="img">
              <img src="{{static}}/images/role.jpg" alt="" />
            </div>
            <div class="detail">
              <span class="name">{{item.name}}</span>
              <p class="title">{{item.realm}}</p>
              <p class="line"></p>
              <p class="text">{{item.introduce}}</p>
              <div class="more">
                查看更多
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="srrot">
        <a href="" class="left">
          <</a> <a href="" class="num srrot_active">1
        </a>
        <a href="" class="num">2</a>
        <a href="" class="right">></a>
      </div>
    </article>
  </section>
</main>
{% endblock %}