<button id="to_top" title="返回顶部">
	<i class="iconfont iconfont-top"></i>
</button>
<script>
  // 高频事件 只执行一次
	function debounce(fn, wait) {
		let timer = null; //使用闭包保存定时的引用
		return function () {
			let self = this;
			let args = arguments;
			if (timer) {
				clearTimeout(timer);
			}
			timer = setTimeout(() => {
				fn.apply(this, args); //使用apply将时间对象传给传进来的回调函数
			}, wait);
		};
	}
	(function () {
		// 导航栏js
		let ul = $("#nav");
		let active = $("#nav>li>.header_li_active").closest("li");
		let line = null;

		function getWidth(e) {
			return $(e).width();
		}

		function getPos(e) {
			return $(e).position();
		}
		(function createMoveEl() {
			if (!ul) return;
			line = $("<div class='nav_line'><span></span></div>").appendTo(ul);
			let span = line.find("span");
			line.css({
				position: "absolute",
				left: getPos(active).left,
				bottom: "0",
				width: getWidth(active),
				height: "2px",
				"z-index": -1,
			});
		})();
		$("#nav>li").on("mouseenter", function () {
			let that = this;
			line.stop().animate(
				{
					width: getWidth(that),
					left: getPos(that).left,
				},
				300
			);
		});
		$(ul).on("mouseleave", function () {
			line.stop().animate(
				{
					width: getWidth(active),
					left: getPos(active).left,
				},
				300
			);
		});
		// 自动回顶部js
		$("#to_top").on("click", function (e) {
			let frameId = null;
			function scrollToTop() {
				let h = $(window).scrollTop();
				let speed = h / 20;
				$(window).scrollTop(h - speed);
				frameId = requestAnimationFrame(scrollToTop);
				if (h < 30) {
					cancelAnimationFrame(frameId);
					$(window).scrollTop(0);
				}
			}
			frameId = requestAnimationFrame(scrollToTop);
		});
		$(window).on("scroll", debounce(toTopScrollFn, 50));
		function toTopScrollFn() {
			let h = $(window).scrollTop();
			if (h > 500) $("#to_top").addClass("to_top_active");
			else $("#to_top").removeClass("to_top_active");
		}
	})();
</script>
