<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/other.css"/>
  <title>产品中心</title>
</head>
<body>
  <header>
    <nav>
      <a href="" class="logo">
        <img src="./images/1499082746958.jpg" alt="">
      </a>
      <ul id="nav">
        <li>
          <a href="" title="首页">首页</a>
        </li>
        <li>
          <a href="" title="中泰产业">中泰产业</a>
        </li>
        <li>
          <a href="" title="业务范围">业务范围</a>
        </li>
        <li>
          <a href="" title="新闻中心">新闻中心</a>
        </li>
        <li class="header_li_active">
          <a href="" title="关于">关于</a>
        </li>
        <li>
          <a href="" title="合作伙伴">合作伙伴</a>
        </li>
        <li>
          <a href="" title="联系">联系</a>
        </li>
        <li>
          <a href="" title="视频展示">视频展示</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <div class="banner">
      <img src="./images/1499147946347.jpg" alt="">
    </div>
    <section class="video">
      <article>
        <div class="head">
          <div class="content">
            <div class="right">
              您的位置：<a href="">首页</a> <span>></span> <a href="">视频展示</a>
            </div>
            <div class="clear"></div>
          </div>
        </div>

        <div class="vid">
          <ul>
            <li>
              <a href="">
                <div class="img">
                  <img src="./images/1562656007638.jpg" alt="">
                </div>
                <div class="detail">
                  <h2>梦想启动未来-公司企业宣传片</h2>
                  <div class="text">形象篇</div>
                </div>
                <div class="circle"></div>
              </a>
            </li>
            
            <div class="clear"></div>
          </ul>
        </div>
        <div class="srrot">
           <a href="" class="left"><</a>
           <a href="" class="num srrot_active">1</a>
           <a href="" class="num">2</a>
           <a href="" class="right">></a>
        </div>
      </article>
    </section>
  </main>
  
  <footer>
    <div>COPYRIGHT (©) 2020 mo005_21507- 蔬菜水果种植培育出售网站. <span>技术支持：</span><a href="">至成科技</a></div>
  </footer>
</body>
</html>
