@font-face {font-family: "mdi";
  src: url('./icon/iconfont.eot?t=1595512973472'); /* IE9 */
  src: url('./icon/iconfont.eot?t=1595512973472#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABjgAAAJFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo8WAE2AiQDCAsGAAQgBYRtBzUbgwXIrrApw71IoJ2jY4hQe4/7aWAAPuLha7/fubv7P+KaGLpn0USFRCN0S9AqiUTI2r2Et7WWD2xUxj/LVwStYnmYvePs5PLkSiTJyCpVIVvh+sYN/m+0TbDggvO2XQOOcjcyi9drRcbNUtnyM+kT907/BPogrQeU6x401qRJXUBdHEiBjjUoshLKuGHsApdwnECzcU353fnxWa6msMYF4irwrFwt51MUlmwU6jVLi3hU05juk3gIvx//1qJGUsussoPLmZsbfrHT8lV15dwn+AlodQ0Zq3IKcVIb21MUjCtqjpVMy+2rOPhSVb5V7NUk2F9nFbaCURgPvrhjBUhwWz11oHfU1UTH9eXXRWfvyMVnw8Xlm/d53THw6BVs/sIm+ll6iQSCm+3r3qE3thTw2ROhsejnoHF9e/AfJD2bii6zLKmoktr2pGP/Fc2aUcGubn9j9X0nTYVGfSMcDcZSZI1mycKuoqbFOuoabaDZisXqFj1YUZQmLLsHCJ2+kbR7RtbphyzsL2r6/aOuM4podha4ZYv5CBrGaAm6YB8gcChVjk0aUfEJepvY4qws5F0gZ0EQeu1uMbnAFHmOGdnW64soUEwJzMFpGMcEmilER9q+iB50OqruTW2HklzDDoYsArmA7QAEHCSl/M6iUfr8CeTZiFm4paEmfgGxTNA/6Gnr9iAX6rRXw728ktny9AmhAIWRBJiDQSgWI0DXDwohh2jzR0S0gY7dSvVVt9fXJl+3C5pZhhT23KzlYq+t1DUSYszlAAA=') format('woff2'),
  url('./icon/iconfont.woff?t=1595512973472') format('woff'),
  url('./icon/iconfont.ttf?t=1595512973472') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./icon/iconfont.svg?t=1595512973472#iconfont') format('svg'); /* iOS 4.1- */
}

.mdi {
  font-family: "mdi" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-chevron-down:before {
  content: "\e62d";
}

