{% extends "../public/layout.html" %} {% block main %}
<main class="main">
  <section class="banner banner-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <a href="">
          <img src="{{static}}/images/1498375879733.jpg" alt="" />
        </a>
      </li>
      <li class="swiper-slide">
        <a href="">
          <img src="{{static}}/images/1498375879733.jpg" alt="" />
        </a>
      </li>
    </ul>
    <div class="left swiper-banner-left">
      <i class="iconfont iconfont-zuo-5"></i>
    </div>
    <div class="right swiper-banner-right">
      <i class="iconfont iconfont-you-5"></i>
      </svg>
    </div>
    <div class="dots">
      <div class="dot banner_dot_active"></div>
      <div class="dot"></div>
    </div>
  </section>
  <div class="white_temp_space"></div>
  <section class="case">
    <article>
      <div class="head">
        <div class="head_l">
          <h2>{{columns.tpCase.name}}</h2>
          <span>{{columns.tpCase.en}}</span>
        </div>
        <div class="space"></div>
        <div class="head_r">
          <a href="" class="head_a_active">全部</a>
          <a href="">全产业链业务</a>
          <a href="">新资源开发</a>
        </div>
      </div>
      <div class="case_swiper case-container">
        <ul class="swiper-wrapper">
          {% for item in columns.tpCase.array %}
          <li class="swiper-slide">
            <a href="">
              <div class="img">
                <img src="{{ static }}/images/1499083067928.jpg" alt="" />
              </div>
              <div class="detail">
                <h2>{{item.name}}</h2>
                <div class="text">{{item.introduce}}</div>
              </div>
              <div class="circle"></div>
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="swiper-pagination case_pagination"></div>
        <div class="left case_swiper_left">
          <i class="iconfont iconfont-zuo-5"></i>
        </div>
        <div class="right case_swiper_right">
          <i class="iconfont iconfont-you-5"></i>
        </div>
      </div>
      </div>
      <div class="dots">
        <div class="dot industry_dot_active"></div>
        <div class="dot"></div>
      </div>
    </article>
  </section>
  <section class="about">
    <article>
      <div class="head">
        <div class="head_l">
          <h2 style="color: #233876;">{{columns.tpPage.name}}</h2>
          <span>{{columns.tpPage.en}}</span>
        </div>
      </div>
      <div class="about_content">
        <div class="a_left">
          <h2>{{page.name}}</h2>
          <div class="text">
            {{columns.tpPage.array[0].description}}
          </div>
          <a href="" class="more">more</a>
        </div>
        <a href="" class="a_right">
          <img src="{{ static }}/images/1499261624385.jpg" alt="" />
        </a>
        <div class="clear"></div>
      </div>
    </article>
    <div class="counterBgdx">
      <div class="module">
        <div class="item">
          <div class="date">1,992 <span>年</span></div>
          <div class="zh">成立中泰高科</div>
        </div>
        <div class="item">
          <div class="date">58 <span>+</span></div>
          <div class="zh">产业覆盖范围</div>
        </div>
        <div class="item">
          <div class="date">36 <span>+</span></div>
          <div class="zh">覆盖全国多个省市</div>
        </div>
        <div class="item">
          <div class="date">470 <span>+</span></div>
          <div class="zh">项目研究成果</div>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="top_space"></div>
    <article>
      <div class="head">
        <div class="head_l">
          <h2 style="color: #233876;">{{columns.tpProduct.name}}</h2>
          <span>{{columns.tpProduct.en}}</span>
        </div>
        <div class="space"></div>
        <div class="head_r">
          <a href="" class="head_a_active">全部</a>
          <a href="">行业资讯</a>
          <a href="">媒体报道</a>
          <a href="" class="more">更多</a>
        </div>
      </div>

      <div class="news_content">
        <a href="" class="news_l">
          <div class="date">07-02</div>
          <p class="title">
            {{columns.tpProduct.array[columns.tpProduct.array.length-1].name}} -
            {{columns.tpProduct.array[columns.tpProduct.array.length-1].lead}}
          </p>
          <p class="text">
            {{columns.tpProduct.array[columns.tpProduct.array.length-1].introduce}}
          </p>
          <div class="image">
            <img src="{{ static }}/images/1498476780341.jpg" alt="" />
          </div>
          <div class="more"></div>
        </a>
        <ul class="news_r">
          {% for item in columns.tpProduct.array %}
          <li>
            <a href="">
              <div class="li_l">
                <p class="title">{{item.name}} - {{item.lead}}</p>
                <p class="text">{{item.introduce}}</p>
              </div>
              <div class="li_r">
                <div class="date">{{item.year}}</div>
                <div class="arrow">
                  <i class="iconfont iconfont-ic_arrow_right"></i>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
  <section class="scope">
    <article>
      <div class="head">
        <div class="head_l">
          <h2>业务范围</h2>
          <span>Scope of business</span>
        </div>
        <div class="space"></div>
        <div class="head_r">
          <a href="" class="head_a_active">全部</a>
          <a href="">科技创新</a>
          <a href="">国际贸易</a>
          <a href="" class="more">更多</a>
        </div>
      </div>

      <div class="swiper">
        <div class="box scope-container">
          <ul class="swiper-wrapper">
            {% for item in tempArr %}
            <li class="swiper-slide">
              <a href="">
                <div class="img">
                  <img src="{{static}}/images/1499154353589.jpg" alt="" />
                </div>
                <div class="detail">
                  <h2>能源产业优化链条进展</h2>
                  <div class="text">
                    在中国国内，由合资公司湖南株洲时菱交通设备有限公司
                    进行这类机电产品的组装和试验
                  </div>
                  <div class="more">
                    <i class="iconfont iconfont-ic_arrow_right"></i>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="swiper-pagination case_pagination"></div>
        </div>

        <div class="left scope_swiper_left">
          <i class="iconfont iconfont-zou-5"></i>
        </div>
        <div class="right scope_swiper_right">
          <i class="iconfont iconfont-you-5"></i>
        </div>
      </div>
    </article>
  </section>
  <section class="story">
    <article>
      <div class="content">
        <div class="first">
          <h2>特殊板块演示</h2>
        </div>
        <a href="" class="detail">
          <h2>荣获欧特克（Autodesk）工程全球奖</h2>
          <div class="text">
            客户对于市场需求变得越来越复杂北京结合数字技术的发展与市场的综合特性，通过与集团相关
          </div>
          <div class="more">
            more
          </div>
        </a>
        <div class="second_img">
          <img src="{{ static }}/images/1498546516300.jpg" alt="" />
        </div>
        <a href="" class="detail">
          <h2>我们的价值观</h2>
          <div class="text">
            许多价值观可以追溯至公司创始人罗伯特•博世先生，其他的价值观
          </div>
          <div class="more">
            more
          </div>
        </a>
        <div class="img">
          <img src="{{ static }}/images/1498546555710.jpg" alt="" />
        </div>
        <a href="" class="detail">
          <h2>客户专区-由此进入</h2>
          <div class="text">
            我们追求的是以更周到、更快捷的服务，不断为客户创造价值
          </div>
          <div class="more">
            more
          </div>
        </a>
        <div class="img">
          <img src="{{ static }}/images/1498546531471.jpg" alt="" />
        </div>
        <a href="" class="detail">
          <h2>我司荣获十二五广东省环境保护产业 ...</h2>
          <div class="text">
            消费者接触点的多样化，增加了企业向目标消费者传达想法的难度通过传播设计可以准确地识别消费者的喜好、流行趋势
            ...
          </div>
          <div class="more">
            more
          </div>
        </a>
        <div class="img">
          <img src="{{ static }}/images/1498546567710.jpg" alt="" />
        </div>
      </div>
    </article>
  </section>
  <section class="event">
    <article>
      <ul>
        {% for item in tempArr %}
        <li>
          <a href="">
            <div class="date">2006</div>
            <div class="text">
              荣入2007年度中国广告公司综合 实力50强排名第6位
            </div>
          </a>
        </li>
        {% endfor %}
        <div class="clear"></div>
      </ul>
    </article>
  </section>
  <section class="links">
    <article>
      <ul>
        {% for item in tempArr %}
        <li>
          <a href="">
            <img src="{{ static }}/images/1499235512677.png" />
          </a>
        </li>
        {% endfor %}
        <div class="clear"></div>
      </ul>
    </article>
  </section>
  <section class="foot">
    <div class="wrap">
      <div class="first">
        <h3>联系</h3>
        <span>Contact</span>
      </div>
      <div class="second">
        <h3>关注</h3>
      </div>
      <div class="third">
        <h3>至成科技</h3>
        <p>地址：北京市建外SOHO东区2号楼</p>
        <p>电话：010-69557550</p>
        <p>手机：13521043455 / 13811334772</p>
      </div>
      <div class="fourth">
        <h3></h3>
        <p>邮编：100000</p>
        <p>传真：000-66668888</p>
        <p>邮箱：0008008@qq.com</p>
      </div>
    </div>
  </section>
</main>

<footer>
  <div>
    COPYRIGHT (©) 2020 mo005_21507- 蔬菜水果种植培育出售网站.
    <span>技术支持：</span><a href="">至成科技</a>
  </div>
</footer>
<script>
  (function () {
    var mySwiper = new Swiper(".banner-container", {
      direction: "horizontal", // 垂直切换选项
      navigation: {
        nextEl: ".swiper-banner-left",
        prevEl: ".swiper-banner-right",
      },
    });
    new Swiper(".case-container", {
      direction: "horizontal", // 垂直切换选项
      slidesPerView: 3,
      navigation: {
        nextEl: ".case_swiper_left",
        prevEl: ".case_swiper_right",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    new Swiper(".scope-container", {
      direction: "horizontal", // 垂直切换选项
      slidesPerView: 3,
      navigation: {
        nextEl: ".scope_swiper_left",
        prevEl: ".scope_swiper_right",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  })();
</script>

{% endblock %}